@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BusPortal.Common.Models.ForgotPasswordViewModel

<h2>Forgot Password</h2>

<form asp-action="ForgotPassword" method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <button type="submit">Send Reset Link</button>
</form>

