@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to bus reservation portal</h1>
    <div>
        <a class="btn btn-primary floating-btn" asp-action="Login" asp-controller="Clients">
            Login
        </a>
    <a> or </a>
        <a class="btn btn-primary floating-btn" asp-action="Register" asp-controller="Clients">
            Sign Up
        </a>
    </div>
</div>
